.home_img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 450px) {
  .home_img img {
    display: none;
  }
}

@media (max-width: 450px) {
  .no_data_img {
    width: 100%;
  }
}

.card {
  position: relative;
}

.pointer_icon {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 1%;
  left: 30%;
  cursor: pointer;
  background: transparent;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@media (max-width: 450px) {
  .pointer_icon {
    width: 20px;
    height: 20px;
    bottom: 3%;
    left: 25%;
  }
}/*# sourceMappingURL=home.module.css.map */