@mixin screen($device) {
    @if $device==tablet {
        @media (max-width: 991px) {
            @content;
        }
    }

    @if $device==mobile {
        @media (max-width: 450px) {
            @content;
        }
    }

    @if $device==pc {
        @media (min-width: 992px) {
            @content;
        }
    }
}

.home_img {
    width     : 100%;
    height    : 250px;
    object-fit: cover;

    img {
        @include screen(mobile) {
            display: none;
        }
    }
}

.no_data_img {
    @include screen(mobile) {
        width: 100%;
    }
}




.card {
    position: relative;

}


.pointer_icon {
    @keyframes bounce {

        0%,
        100% {
            transform                : translateX(-25%);
            animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        }

        50% {
            transform                : none;
            animation-timing-function: cubic-bezier(0, 0, .2, 1);
        }
    }

    width    : 30px;
    height   : 30px;
    position : absolute;
    bottom   : 1%;
    left     :30%;
    cursor   : pointer;

    @include screen(mobile) {
        width : 20px;
        height: 20px;
        bottom: 3%;
        left  : 25%;
    }

    background: transparent;
    animation : bounce 1s infinite;
}